html
  head 
    title speakout!!! 
  
  body 

    p hao pro haha hahaa 1
    div 
      p hao ne nek nnmmm 
      span sdad
    p djjd kkkk
    
    textarea#input(name="input", cols="30", rows="10") 
    br
    select#lang(name="lang") select language
      option(value="vi") vn
      option(value="en") en
    br
    button#btn Say! 

    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/index.js") 